@import "global/reset.css";
@import "global/fonts.css";
@import "global/global-styles.css";

@import "compositions/cluster.css";
@import "compositions/flow.css";
@import "compositions/grid.css";
@import "compositions/repel.css";
@import "compositions/switcher.css";
@import "compositions/wrapper.css";

@import "components/button.css";
@import "components/header.css";
@import "components/hero.css";
@import "components/table.css";

:root {
  --body-background: #f2f2f2;
  --body-color: #444;
  --heading-color: black;
  --action-color: #d64045;

  --color-dark: #0d0617;
  --color-dark-glare: #2d2816;
  --color-mid: #ABA9A2;
  --color-light: #ffffff;
  --color-primary: #ffcc00;
  --color-secondary: #6115bb;
  --color-success: #7eaf3d;
  --color-warning: #fb9f05;
  --color-error: #f44336;
  --color-mint: #ebf0ea;
  --space-xxs: clamp(0.1875rem, 0.17rem + 0.10vw, 0.25rem);
  --space-xs: clamp(0.4375rem, 0.42rem + 0.10vw, 0.5rem);
  --space-s: clamp(0.875rem, 0.83rem + 0.20vw, 1rem);
  --space-m: clamp(1.3125rem, 1.25rem + 0.29vw, 1.5rem);
  --space-l: clamp(2.1875rem, 2.09rem + 0.49vw, 2.5rem);
  --space-xl: clamp(3.0625rem, 2.92rem + 0.69vw, 3.5rem);
  --space-2xl: clamp(3.5rem, 3.34rem + 0.78vw, 4rem);
  --space-3xl: clamp(4.375rem, 4.17rem + 0.98vw, 5rem);
  --space-4xl: clamp(6.5625rem, 6.26rem + 1.47vw, 7.5rem);
  --space-xs-l: clamp(0.4375rem, -0.23rem + 3.24vw, 2.5rem);
  --space-m-l: clamp(1.3125rem, 0.93rem + 1.86vw, 2.5rem);
  --space-2xl-4xl: clamp(3.5rem, 2.21rem + 6.27vw, 7.5rem);
  --size-step-000: clamp(0.5925rem, 0.56rem + 0.16vw, 0.694375rem);
  --size-step-00: clamp(0.666875rem, 0.61rem + 0.26vw, 0.833125rem);
  --size-step-0: clamp(0.75rem, 0.67rem + 0.39vw, 1rem);
  --size-step-1: clamp(0.84375rem, 0.73rem + 0.56vw, 1.2rem);
  --size-step-2: clamp(0.949375rem, 0.79rem + 0.77vw, 1.44rem);
  --size-step-3: clamp(1.068125rem, 0.85rem + 1.04vw, 1.728125rem);
  --size-step-4: clamp(1.20125rem, 0.92rem + 1.37vw, 2.07375rem);
  --size-step-5: clamp(1.35125rem, 0.98rem + 1.78vw, 2.488125rem);
  --size-step-6: clamp(1.520625rem, 1.05rem + 2.30vw, 2.98625rem);
  --size-step-7: clamp(1.710625rem, 1.10rem + 2.94vw, 3.583125rem);
  --size-step-8: clamp(1.924375rem, 1.16rem + 3.73vw, 4.3rem);
  --size-step-9: clamp(2.165rem, 1.20rem + 4.70vw, 5.16rem);
  --size-step-10: clamp(2.435625rem, 1.22rem + 5.89vw, 6.191875rem);
  --leading-micro: 0.85;
  --leading-flat: 1;
  --leading-fine: 1.25;
  --leading-standard: 1.5;
  --leading-loose: 1.75;
  --font-base: Satoshi,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  --font-serif: Satoshi,Garamond,serif;
  --font-mono: DM Mono,monospace;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-black: 900;

  --gutter: var(--space-m-l);
  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 300ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
  --stroke-width: 1px;
  --stroke-color: var(--color-mid);
  --stroke: var(--stroke-width) solid var(--stroke-color);
  --radius-s: 0.2rem;
  --radius-m: 0.75rem;
  --radius-l: 2.5rem;
  --uppercase-kerning: 0.04ch;

  --shadow-color: light-dark(hsl(0deg 0% 63%), hsl(50deg 98% 0%));
  --shadow-color: 0deg 0% 72%;
  --shadow-elevation-low:
    0.3px 0.3px 0.6px hsl(var(--shadow-color) / 0),
    0.5px 0.5px 1.1px hsl(var(--shadow-color) / 0.17),
    0.9px 0.9px 1.9px hsl(var(--shadow-color) / 0.33);
  --shadow-elevation-medium:
    0.3px 0.3px 0.6px hsl(var(--shadow-color) / 0),
    1px 0.9px 2px hsl(var(--shadow-color) / 0.08),
    1.7px 1.6px 3.5px hsl(var(--shadow-color) / 0.17),
    2.8px 2.6px 5.7px hsl(var(--shadow-color) / 0.25),
    4.7px 4.4px 9.7px hsl(var(--shadow-color) / 0.33);
  --shadow-elevation-high:
    0.3px 0.3px 0.6px hsl(var(--shadow-color) / 0),
    1.7px 1.6px 3.5px hsl(var(--shadow-color) / 0.04),
    3px 2.8px 6.2px hsl(var(--shadow-color) / 0.08),
    4.3px 4px 8.8px hsl(var(--shadow-color) / 0.12),
    5.6px 5.3px 11.6px hsl(var(--shadow-color) / 0.15),
    7.2px 6.8px 14.9px hsl(var(--shadow-color) / 0.19),
    9.3px 8.8px 19.2px hsl(var(--shadow-color) / 0.23),
    12px 11.3px 24.7px hsl(var(--shadow-color) / 0.27),
    15.4px 14.5px 31.7px hsl(var(--shadow-color) / 0.31),
    19.8px 18.6px 40.7px hsl(var(--shadow-color) / 0.35);
}

main {
  margin: 2rem auto 4rem;
  max-width: 65rem;
  padding: 25px 25px 50px;
  background: white;
  box-shadow: 2px 3px 3px #ddd;
  border-radius: 3px;

  @media (max-width: 500px) {
    padding: 16px 16px 50px;
  }
}

footer {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 1em;
}

hr {
  border: none;
  border-top: 2px dotted #bbb;
  margin: 3rem 0;
}
